.button-container {
    height: 100vh;
    display: flex;
}

div button {
    flex: 1;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5em;
}

#button1 {
    background-color: rgba(0, 0, 255, 0.5);
}

#button2 {
    background-color: rgba(255, 0, 0, 0.5);
}