#headerArea {
    background-color: grey;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3vh 2vh; /* Ajustement pour simplifier les paddings */
    display: flex; /* Ajouté pour aligner les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
}
.linksArea
{
    color: white;
}
#linksContainer {
    display:flex; /* Change to flex to align items */
    justify-content: flex-end; /* Align items at the start */
    align-items: center; /* Center items vertically */
    width: 90%;
    gap: 50px;
}
#carouselContainer
{
    width: 1000px;
    height:700px;
    overflow: hidden;
}

.carousel-item img 
{
    width: 100%;
    height: auto;
    object-fit: cover;
}